<template>
  <Navbar />
  <h2 class="pb-4 text-primary">{{title}}</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 mx-auto">
        <div>
          <form class="d-flex" @submit.prevent="addNewGoal">
            <input
              class="form-control me-2"
              type="text"
              placeholder="Your Goal"
              aria-label="Search"
              v-model="newGoal"
              ref="goalFocus"
            />
            <button class="btn btn-success" type="submit">Add</button>
          </form>
        </div>
      </div>
    </div>

    <hr />
    <!-- table to display goals -->

    <p class="text-success">{{ goal_count }}</p>
    <p class="text-success">{{message}}</p>

    <table class="table table-responsive">
      <thead>
        <tr>
          <!-- <div v-for="intern in interns" :key="intern.id" class="interns"> -->
          <th scope="col">#</th>
          <th scope="col">Goal</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(goal,index) in goals" :key="goal.id">
          <th scope="row">#</th>
          <td>{{goal.content}}</td>
          <td>{{goal.completed}}</td>
          <button class="btn btn-danger" @click="deleteGoal(index)">Delete</button>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import Navbar from "./Navbar";
import { Goal } from "./mixins/GoalMixins.js";
export default {
  props: ["title"],
  components: { Navbar },
  mixins : [ Goal ],
  data() {
    return {
      newGoal: "",
      goals: [],
      message: "",
    };
  },
  methods: {
    addNewGoal() {
      if (this.newGoal.length > 0) {
        this.goals.push({
          id: new Date().getTime(),
          content: this.newGoal,
          completed: false,
        });
      }
      this.newGoal = "";
      this.$refs.goalFocus.focus();
      // console.log(this.goals)
    },
    deleteGoal(index) {
      this.goals.splice(index, 1);
    },
  },

};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
