<template>
  <div class="navv">
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-success">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Goals</a>
            </li>
          </ul> 
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: "Navbar",
};
</script>

<style scoped>
.navv {
margin-top: -58px;
}
a{
    font-size: 30px;
    font-weight: 900;
}
</style>